pipeline/pipeline/001_LoopOverResourceGroups.json
{
	"name": "001_LoopOverResourceGroups",
	"properties": {
		"activities": [
			{
				"name": "Get all resource groups in subscription",
				"description": "Use the Azure REST API to retrieve all servers in this subscription",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourcegroups?api-version=2021-04-01')\n\n",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "Process resource group",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get all resource groups in subscription",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set output path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get all resource groups in subscription').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Loop over servers",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "002_LoopOverServers",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SubscriptionId": {
										"value": "@pipeline().parameters.SubscriptionId",
										"type": "Expression"
									},
									"ResourceGroup": {
										"value": "@item().name",
										"type": "Expression"
									},
									"Config_ServerName": {
										"value": "@pipeline().parameters.Config_ServerName",
										"type": "Expression"
									},
									"Config_DatabaseName": {
										"value": "@pipeline().parameters.Config_DatabaseName",
										"type": "Expression"
									},
									"PipelineRunOutputPath": {
										"value": "@variables('PipelineRunResultPathPrefix')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set output path",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineRunResultPathPrefix",
					"value": {
						"value": "@formatDateTime(utcNow(), '/yyyy/MM/dd/HH/mm/')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SubscriptionId": {
				"type": "string"
			},
			"Config_ServerName": {
				"type": "string"
			},
			"Config_DatabaseName": {
				"type": "string"
			}
		},
		"variables": {
			"PipelineRunResultPathPrefix": {
				"type": "String",
				"defaultValue": "/"
			}
		},
		"folder": {
			"name": "Identify all databases"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-28T13:06:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}