pipeline/pipeline/007_ProcessTable.json
{
	"name": "007_ProcessTable",
	"properties": {
		"description": "This pipeline will copy objects from one group. The objects belonging to this group will be copied parallelly.",
		"activities": [
			{
				"name": "ListObjectsFromOneGroup",
				"description": "List objects from one group and iterate each of them to downstream activities",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ObjectsPerGroupToCopy",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "RouteJobsBasedOnLoadingBehavior",
							"description": "Check the loading behavior for each object if it requires full load or incremental load. If it is Default or FullLoad case, do full load. If it is DeltaLoad case, do incremental load.",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "FullLoad",
										"activities": [
											{
												"name": "FullLoadOneObject",
												"description": "Take a full snapshot on this object and copy it to the destination",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{json(item().SourceObjectSettings).schema}.@{json(item().SourceObjectSettings).table}"
													},
													{
														"name": "Destination",
														"value": "@{json(item().SinkObjectSettings).container}/@{json(item().SinkObjectSettings).folderPath}/@{json(item().SinkObjectSettings).fileName}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@{json(item().CopySourceSettings).sqlReaderQuery} from [@{json(item().SourceObjectSettings).schema}].[@{json(item().SourceObjectSettings).table}] ",
															"type": "Expression"
														},
														"isolationLevel": {
															"value": "@{json(item().CopySourceSettings).isolationLevel}",
															"type": "Expression"
														},
														"partitionOption": {
															"value": "@json(item().CopySourceSettings).partitionOption",
															"type": "Expression"
														},
														"partitionSettings": {
															"partitionColumnName": {
																"value": "@{json(item().CopySourceSettings).partitionColumnName}",
																"type": "Expression"
															},
															"partitionUpperBound": {
																"value": "@{json(item().CopySourceSettings).partitionUpperBound}",
																"type": "Expression"
															},
															"partitionLowerBound": {
																"value": "@{json(item().CopySourceSettings).partitionLowerBound}",
																"type": "Expression"
															},
															"partitionNames": "@json(item().CopySourceSettings).partitionNames"
														}
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"validateDataConsistency": false,
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "SourceDataSet",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SourceObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SourceObjectSettings).table",
																"type": "Expression"
															},
															"cw_ls_ServerName": {
																"value": "@pipeline().parameters.ServerName",
																"type": "Expression"
															},
															"cw_ls_DatabaseName": {
																"value": "@pipeline().parameters.DatabaseName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DestinationDataSet",
														"type": "DatasetReference",
														"parameters": {
															"cw_fileName": {
																"value": "@json(item().SinkObjectSettings).fileName",
																"type": "Expression"
															},
															"cw_folderPath": {
																"value": "@pipeline().parameters.PipelineRunOutputPath",
																"type": "Expression"
															},
															"cw_container": {
																"value": "@json(item().SinkObjectSettings).container",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "DeltaLoad",
										"activities": [
											{
												"name": "GetMaxWatermarkValue",
												"description": "Query the source object to get the max value from watermark column",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "select CASE WHEN '@{json(item().DataLoadingBehaviorSettings).watermarkColumnType}' = 'timestamp' THEN CAST(max([@{json(item().DataLoadingBehaviorSettings).watermarkColumnName}]) as bigint) ELSE max([@{json(item().DataLoadingBehaviorSettings).watermarkColumnName}]) END as CurrentMaxWaterMarkColumnValue from [@{json(item().SourceObjectSettings).schema}].[@{json(item().SourceObjectSettings).table}]",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "SourceDataSet",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SourceObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SourceObjectSettings).table",
																"type": "Expression"
															},
															"cw_ls_ServerName": {
																"value": "@pipeline().parameters.ServerName",
																"type": "Expression"
															},
															"cw_ls_DatabaseName": {
																"value": "@pipeline().parameters.DatabaseName",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "DeltaLoadOneObject",
												"description": "Copy the changed data only from last time via comparing the value in watermark column to identify changes.",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "GetMaxWatermarkValue",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{json(item().SourceObjectSettings).schema}.@{json(item().SourceObjectSettings).table}"
													},
													{
														"name": "Destination",
														"value": "@{json(item().SinkObjectSettings).container}/@{json(item().SinkObjectSettings).folderPath}/@{json(item().SinkObjectSettings).fileName}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@{json(item().CopySourceSettings).sqlReaderQuery} from [@{json(item().SourceObjectSettings).schema}].[@{json(item().SourceObjectSettings).table}] \n    where @{if(contains( json(item().DataLoadingBehaviorSettings).watermarkColumnType, 'timestamp'),concat('CAST([', json(item().DataLoadingBehaviorSettings).watermarkColumnName, '] AS BIGINT)'), concat('[', json(item().DataLoadingBehaviorSettings).watermarkColumnName ,']'))} > @{if(contains(json(item().DataLoadingBehaviorSettings).watermarkColumnType, 'Int'),\n    json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue, \n    concat('''', json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue, ''''))}\n    and @{if(contains( json(item().DataLoadingBehaviorSettings).watermarkColumnType, 'timestamp'),concat('CAST([', json(item().DataLoadingBehaviorSettings).watermarkColumnName, '] AS BIGINT)'), concat('[', json(item().DataLoadingBehaviorSettings).watermarkColumnName ,']'))}  <= @{if(contains(json(item().DataLoadingBehaviorSettings).watermarkColumnType, 'Int'),\n    activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue, \n    concat('''', activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue, ''''))}",
															"type": "Expression"
														},
														"isolationLevel": {
															"value": "@{json(item().CopySourceSettings).isolationLevel}",
															"type": "Expression"
														},
														"partitionOption": {
															"value": "@json(item().CopySourceSettings).partitionOption",
															"type": "Expression"
														},
														"partitionSettings": {
															"partitionColumnName": {
																"value": "@{json(item().CopySourceSettings).partitionColumnName}",
																"type": "Expression"
															},
															"partitionUpperBound": {
																"value": "@{json(item().CopySourceSettings).partitionUpperBound}",
																"type": "Expression"
															},
															"partitionLowerBound": {
																"value": "@{json(item().CopySourceSettings).partitionLowerBound}",
																"type": "Expression"
															},
															"partitionNames": "@json(item().CopySourceSettings).partitionNames"
														}
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"validateDataConsistency": false,
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "SourceDataSet",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SourceObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SourceObjectSettings).table",
																"type": "Expression"
															},
															"cw_ls_ServerName": {
																"value": "@pipeline().parameters.ServerName",
																"type": "Expression"
															},
															"cw_ls_DatabaseName": {
																"value": "@pipeline().parameters.DatabaseName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DestinationDataSet",
														"type": "DatasetReference",
														"parameters": {
															"cw_fileName": {
																"value": "@json(item().SinkObjectSettings).fileName",
																"type": "Expression"
															},
															"cw_folderPath": {
																"value": "@pipeline().parameters.PipelineRunOutputPath",
																"type": "Expression"
															},
															"cw_container": {
																"value": "@json(item().SinkObjectSettings).container",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "UpdateWatermarkColumnValue",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "DeltaLoadOneObject",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[usp_UpdateMetadataConfigurationDatabaseWatermark]",
													"storedProcedureParameters": {
														"DatabaseConfigTableName": {
															"value": {
																"value": "@pipeline().parameters.MetadataConfigurationTableName",
																"type": "Expression"
															},
															"type": "String"
														},
														"Id": {
															"value": {
																"value": "@item().Id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"watermarkColumnStartValue": {
															"value": {
																"value": "@activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ConfigurationDatabase",
													"type": "LinkedServiceReference",
													"parameters": {
														"ServerName": {
															"value": "@pipeline().parameters.Config_ServerName",
															"type": "Expression"
														},
														"DatabaseName": {
															"value": "@pipeline().parameters.Config_DatabaseName",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "DefaultFullLoadOneObject",
										"description": "Take a full snapshot on this object and copy it to the destination",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Source",
												"value": "@{json(item().SourceObjectSettings).schema}.@{json(item().SourceObjectSettings).table}"
											},
											{
												"name": "Destination",
												"value": "@{json(item().SinkObjectSettings).container}/@{json(item().SinkObjectSettings).folderPath}/@{json(item().SinkObjectSettings).fileName}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@{json(item().CopySourceSettings).sqlReaderQuery} from [@{json(item().SourceObjectSettings).schema}].[@{json(item().SourceObjectSettings).table}] ",
													"type": "Expression"
												},
												"isolationLevel": {
													"value": "@{json(item().CopySourceSettings).isolationLevel}",
													"type": "Expression"
												},
												"partitionOption": {
													"value": "@json(item().CopySourceSettings).partitionOption",
													"type": "Expression"
												},
												"partitionSettings": {
													"partitionColumnName": {
														"value": "@{json(item().CopySourceSettings).partitionColumnName}",
														"type": "Expression"
													},
													"partitionUpperBound": {
														"value": "@{json(item().CopySourceSettings).partitionUpperBound}",
														"type": "Expression"
													},
													"partitionLowerBound": {
														"value": "@{json(item().CopySourceSettings).partitionLowerBound}",
														"type": "Expression"
													},
													"partitionNames": "@json(item().CopySourceSettings).partitionNames"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"validateDataConsistency": false,
											"translator": {
												"value": "@json(item().CopyActivitySettings).translator",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "SourceDataSet",
												"type": "DatasetReference",
												"parameters": {
													"cw_schema": {
														"value": "@json(item().SourceObjectSettings).schema",
														"type": "Expression"
													},
													"cw_table": {
														"value": "@json(item().SourceObjectSettings).table",
														"type": "Expression"
													},
													"cw_ls_ServerName": {
														"value": "@pipeline().parameters.ServerName",
														"type": "Expression"
													},
													"cw_ls_DatabaseName": {
														"value": "@pipeline().parameters.DatabaseName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DestinationDataSet",
												"type": "DatasetReference",
												"parameters": {
													"cw_fileName": {
														"value": "@json(item().SinkObjectSettings).fileName",
														"type": "Expression"
													},
													"cw_folderPath": {
														"value": "@pipeline().parameters.PipelineRunOutputPath",
														"type": "Expression"
													},
													"cw_container": {
														"value": "@json(item().SinkObjectSettings).container",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ObjectsPerGroupToCopy": {
				"type": "Array"
			},
			"ServerName": {
				"type": "string"
			},
			"DatabaseName": {
				"type": "string"
			},
			"MetadataConfigurationTableName": {
				"type": "string"
			},
			"Config_ServerName": {
				"type": "string"
			},
			"Config_DatabaseName": {
				"type": "string"
			},
			"PipelineRunOutputPath": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Process Database"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-28T14:44:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}